<?xml version='1.0'?>
<rules xmlns:xacro='http://www.ros.org/wiki/xacro' name='rules'>

<!-- include pre-define parameter -->
<xacro:include filename='property.xacro' />

<!-- rules framework -->
<xacro:macro name='rules' params='name action confidence priority condition' >
    <rule name ='${name}'>
    <condition condition='${condition}' />
    <action action='${action}' />
    <confidence confidence='${confidence}' />
    <priority priority='${priority}' />
    </rule>
</xacro:macro>

<!-- rule data-->
<xacro:rules name='SLOW_fixed obstacle ahead'
    action='SLOW' confidence='${LOW_04}' priority='${HIGH_08}' 
    condition = 'obstacle == ${OBSTACLE_FIXED} and distance &lt; ${DISTANCE_WARNING} and distance &gt; ${DISTANCE_DANGER}'
/>

<xacro:rules name='PASS_OBSTACLES_fixed obstacle ahead'
    action='PASS_OBSTACLES' confidence='${LOW_02}' priority='${HIGH_10}' 
    condition = 'obstacle == ${OBSTACLE_FIXED} and distance &lt; ${DISTANCE_DANGER}'
/>

<!-- default rule , condition = True -->
<xacro:rules name='default'
    action='GO_STRANGE' confidence='${NORM_05}' priority='${LOW_01}' 
    condition = 'True'
/>   
<!-- end of rules -->
</rules>